@media screen and (max-width: 1159px) {
		body.home #wrapper,
		#wrapper {
		max-width: 960px;
		}
}
@media screen and (min-width: 1160px) and (max-width: 1359px) {
		#wrapper {
		max-width: 1024px;
		}
}
@media screen and (min-width: 1360px) {
		#wrapper {
		max-width: 1200px;
		}
	.hs_normal {
	 	position: fixed;
		top:20px;
		left:76%;
		margin-left:0;
	}
}
@media screen and (min-width: 739px) and (max-width: 979px) 	{
		body.home #wrapper,
		#wrapper {
		width: 96.5%;
		padding:10px;
		}
		.nav ul li {
			font-size:20px;
		}
		#nav-pict {
			display:none;
		}
		.nav-top ul li{
			width:180px;
			font-size:24px;
		}
		body.home #wrapper h1 {
			font-size:120px;
		}
		/* ÇRÅAç∂ÇQÉJÉâÉÄ */
		body.L1R1 #main-column {
			float: left; 
			height:100%;
			width: 74%;
			margin-left:0;
			padding-bottom: 32768px;
			margin-bottom: -32768px;
		}
		body.L1R1 #left-column {
			float: left; 
			width: 23%;
			margin: 0 0 0 2%;
		}
		body.L1R1 #right-column {
			float: right; 
			width: 23%;
			margin: 0;
		}
}

@media screen and (max-width: 478px) 	{
		body.home #wrapper,
		#wrapper {
		width: 96.5%;
		}
		.nav ul li {
			font-size:14px;
		}
		.nav-top{
			width:96%;
			margin;0 auto;
		}
		.nav-top ul li{
			width:96%;
			font-size:18px;
			padding:10px;
			margin:0;
			border-bottom:1px solid #dcdcdc;
		}
		body.home #wrapper h1 {
			font-size:36px;
			margin;0 auto;
		}
	h3 { font-size: 18px; }
	body { font-size: 13px; }
	#about,#main-column ,	#left-column , #right-column , .block_individual,
	body.L1R1 #main-column,body.L1R0 #main-column,body.L0R1 #main-column,
	body.L1R1 #right-column,body.L1R0 #right-column,body.L0R1 #right-column,
	body.L1R1 #left-column,body.L1R0 #left-column,body.L0R1 #left-column
 { width: 98%; padding:1%;margin:0;}
	.block_individual {padding:20px;}
	#menu_s a { display:inline-block;padding:10px; }
	#CenterLColumn , #CenterRColumn { float: left; width: 98%; padding:1%;}
	#headerSearch {display:none;}
}

@media screen and (max-width: 740px) 	{
		body.home #wrapper,
		#wrapper {
		width: 96.5%;
		}
		#nav-pict {
			display:none;
		}
		.nav ul li {
			font-size:16px;
		}
		.nav-top ul li{
			width:140px;
			font-size:18px;
		}
		body.home #wrapper h1 {
			font-size:90px;
		}
	#about,#main-column ,	#left-column , #right-column , .block_individual,
	body.L1R1 #main-column,body.L1R0 #main-column,body.L0R1 #main-column,
	body.L1R1 #right-column,body.L1R0 #right-column,body.L0R1 #right-column,
	body.L1R1 #left-column,body.L1R0 #left-column,body.L0R1 #left-column
		 { width: 98%; padding:1%;margin:0;}
	#headerSearch {display:none;}
}

@media screen and (max-width: 480px) {
		body.home #wrapper h1 {
			font-size:36px;
		}
		.nav ul li {
			font-size:14px;
		}
		.nav-top{
			width:96%;
			padding:10px;
			margin;0 auto;
		}
		.nav-top ul li{
			width:96%;
			margin:0;
			font-size:18px;
			padding:10px;
			border-bottom:1px solid #dcdcdc;
		}
}

img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* lte ie8 */
}
